.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Form-Header {
  background-color: #282c34;
  padding-top: 4em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: white;
}
.Form {
  background-color: #282c34;
  padding-top: 2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* map container */
.leaflet-container {
  margin:auto;
  height: 800px;
  width: 1000px;
  /*
  height: 100vh;
  width: 100vw; */
}

/* Possible style for div marker
.business-marker p {
  display:inline-block;
  padding: 0.5rem;
  width: 100px;
  border-radius: 3px;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  background:#282c34;
  transform:translate(-30%, -50%);
}*/

.business-popup {
  height: 100px;
}

.business-popup .leaflet-popup-tip-container div {
  background-color:#282c34;
}
.business-popup .leaflet-popup-content-wrapper {
  color: aliceblue;
  background-color: #282c34;
  border-radius: 0px;
}

.business-popup div {
  font-family:Arial, Helvetica, sans-serif;
}